p {
    font-style: italic;
}

div .container {
    margin: 0 auto;
    max-width: 800px;
}

div.box {
    align-items: center;
    max-width: 40%;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}