  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
  }

   .profile_img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }
  
  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap; 
  }

    .container2 {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  padding: 20px; 
  flex-wrap: wrap                
}

  .box  {
   font-size: 50px;
   flex: 1;                      
   padding: 20px;
   text-align: center;
   border-radius: 10px;
   background-color: transparent;
   border: none;
      }

  .container1-text {
    max-width: 400px;
    text-align: center;
  }
  

  
 

 