   :root {
    --bg-color: #FFF8DC;
    --text-color: black ;
    --primary-color: #F0E68C;
    --icon-color: #DC143C;
  }
  
  body.dark-mode {
    --bg-color: #1E1E1E;
    --text-color: white;
    --primary-color: navy;
    --icon-color: ;
  }

  #toggle-theme {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
}
